* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #212529;
  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
}

header {
  height: 80px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: rgba(0, 0, 0, 0.64);
  background-color: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0 40px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 18px;
  line-height: 24px;
  position: fixed;
  top: 0;
  background-color: white;
  z-index: 1000;
}

.navbar {
  height: 100%;
  margin-left: 24px;
}

header > * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar .links, .navbar .links a, .contact-num {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.navbar .links a {
  padding: 0 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: inherit;
  position: relative;
}

.navbar .links a::after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  height: 2px;
  width: 0;
  background-color: #ee6344;
  -webkit-transition: width .15s ease-out;
  transition: width .15s ease-out;
}

.navbar .links a:hover::after {
  width: 100%;
}

.logo {
  position: relative;
  margin: 0 80px 0 55px;
  cursor: pointer;
}

.logo img {
  height: 100px;
  width: 100px;
}

.contact-num {
  padding: 0 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.contact-num p {
  margin-left: 10px;
}

.cart-btn {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 104px;
}

.cart-btn span {
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  -webkit-transition: .2s;
  transition: .2s;
}

.cart-btn:hover span {
  color: #ee6344;
  border-color: #ee6344;
  -webkit-transition: .2s;
  transition: .2s;
}

main {
  width: 100%;
  padding-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.sidebar {
  background-color: white;
  height: 100%;
  width: 100px;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  position: fixed;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: .2s width;
  transition: .2s width;
  z-index: 200;
  overflow: hidden;
}

.sidebar .nav-menu-item p {
  opacity: 0;
  -webkit-transition: .2s ease-in;
  transition: .2s ease-in;
  font-size: 24px;
  padding-left: 20px;
}

.sidebar:hover .nav-menu-item p {
  opacity: 100%;
  -webkit-transition: .2s ease;
  transition: .2s ease;
}

.sidebar .nav-menu-item span {
  font-size: 40px;
}

.sidebar:hover {
  width: 200px;
  -webkit-transition: .2s width;
  transition: .2s width;
  z-index: 200;
}

.sidebar .nav-menu {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px;
}

.sidebar .nav-menu .nav-menu-item {
  cursor: pointer;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .2s color;
  transition: .2s color;
}

.sidebar .nav-menu .nav-menu-item:hover > * {
  -webkit-transition: .2s color;
  transition: .2s color;
  color: #ee6344;
}

.content {
  position: relative;
  width: 100%;
  margin: 0 100px;
}

.pizza-menu > :nth-child(2n) {
  background-color: rgba(0, 0, 0, 0.04);
}

.cart {
  width: 425px;
  height: 100%;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  position: fixed;
  z-index: 100;
  background-color: white;
  right: -325px;
}

.carousel {
  height: 596px;
  overflow: hidden;
}

.carousel img {
  width: 100%;
}

.filter {
  background-color: rgba(1, 1, 1, 0);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 100;
}

.trends {
  width: 100%;
  margin: 60px 0;
  padding: 0 60px;
  background-color: white;
}

.trends h2 {
  font-size: 36px;
}

.secondary-text {
  max-width: 600px;
  color: rgba(0, 0, 0, 0.4);
  line-height: 1.33;
  margin-top: 16px;
}

.pizza-slider {
  padding: 30px 60px;
  margin: 60px 0 0 0;
}

.pizza-slider h3 {
  font-size: 24px;
}

.pizza-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
  width: 100%;
}

.pizza-list .pizza-item {
  background-color: white;
  width: 100%;
  max-width: 280px;
  padding: 30px;
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: -webkit-box-shadow .3s;
  transition: -webkit-box-shadow .3s;
  transition: box-shadow .3s;
  transition: box-shadow .3s, -webkit-box-shadow .3s;
  cursor: pointer;
  border-radius: 5px;
}

.pizza-list .pizza-item:hover {
  -webkit-box-shadow: 0 0 8px 10px rgba(0, 0, 0, 0.04);
          box-shadow: 0 0 8px 10px rgba(0, 0, 0, 0.04);
  -webkit-transition: -webkit-box-shadow .3s;
  transition: -webkit-box-shadow .3s;
  transition: box-shadow .3s;
  transition: box-shadow .3s, -webkit-box-shadow .3s;
}

.pizza-list .pizza-item .buy-item {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.pizza-list .pizza-item .buy-item .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 24px;
  margin-top: 10px;
}

.pizza-list .pizza-item .buy-item .btn-add {
  width: 92px;
  height: 40px;
  background-color: #84c502;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  border-radius: 5px;
}

.pizza-list .pizza-item .pizza-name {
  font-size: 24px;
  margin: 10px 0;
}

.pizza-list .pizza-item img {
  height: 220px;
  width: 220px;
  border-radius: 5px;
}

footer {
  width: 100%;
}

footer .copyright {
  height: 80px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
}

.contacts-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 80px 60px;
  width: 100%;
}

.contacts-wrapper .map {
  width: 50%;
  height: 100%;
}

.form-wrapper {
  width: 50%;
}

.form-wrapper form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-wrapper .input_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form-wrapper input[type='text'] {
  height: 50px;
  width: 45%;
  color: #787878;
  border: 0;
  font-size: 16px;
  padding-left: 20px;
  border-bottom: 2px solid #ee6344;
  outline: none;
}

.form-wrapper textarea {
  min-width: 100%;
  min-height: 175px;
  max-height: 175px;
  color: #787878;
  border: 0;
  padding: 20px;
  font-size: 15px;
  margin-bottom: 30px;
  border-bottom: 2px solid #ee6344;
  outline: none;
}

.form-wrapper input[type='submit'] {
  width: 180px;
  height: 55px;
  cursor: pointer;
  border: 0;
  background-color: #ee6344;
  color: white;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  -webkit-transition: background-color .2s;
  transition: background-color .2s;
}

#contacts {
  text-align: center;
  margin-top: 60px;
  font-size: 36px;
}
/*# sourceMappingURL=style.css.map */